.project-card {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
  padding: 8px 0px;
  transition:transform 100ms ease-in;
}
.project-card:hover{
  transform:scale(1.02)
}
.project-links{
  display: flex;
}
.project-photo {
  /* width: 40%;
  height: 75vh;
  object-fit: cover; */
  height: 300px;
  width: 350px;
}
.project-info {
  margin-right: 24px;
}
.project-title {
  font-size: 25px;
  font-weight: 600;
}
.project-tags {
  display: flex;
  /* max-width: 20%; */
  flex-wrap: nowrap;
  flex-direction: row;
}
.tag {
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 4px;
  background-color: rgb(214, 214, 194);
}

.project-links a {
  color: black;
  text-decoration: none;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: 6px;
  font-size: 16px;
  
}

@media (max-width: 720px) {
  .project-photo {
    width: 70%;
  }
  .project-card {
    flex-direction: column-reverse;
  }
  .project-info {
    margin-left: 0px;
    margin-top: 12px;
  }
  .project-tags {
    /* width: 100%; */
    flex-direction: column;
  }
  .project-links{
    display: flex;
    flex-direction: column;
  }
}
